<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Checkout</title>
    <link rel="stylesheet" href="css/style.css">
</head>

<body>
    <header id="header">
        <nav class="menu">
            <div class="logo">
                <img src="src/rog-strix.png" alt="ROG Strix">
                <a href="#" class="btn-menu" id="btn-menu">
                    <i class="icono fa fa-bars" aria-hidden="true">
                    </i>
                </a>
            </div>

            <div class="enlaces" id="enlaces">
                <a class="products" href="#">Products</a>
                <a class="ROG" href="#">ROG</a>
                <a class="Service" href="#">Service</a>
            </div>
            <div class="cont-nonav" id="cont-nonav">
                <div class="nonav">
                    <div class="buscador">
                        <input type="text" class="search" name="search" id="" placeholder="Search...">
                        <a class="recuadro-lupa" href="#">
                            <img class="icon-lupa" src="src/lupa.png" alt="">
                        </a>

                    </div>
                    <a class="tienda" href="\views\shopping_cart.hbs">
                        <img src="src/shopping-card.png" alt="" class="shopping-card">
                    </a>
                </div>
            </div>
        </nav>
    </header>
    <section class="route">
        <p>Homepage•ShoppingCart•Checkout</p>
    </section>

    <section class="form">
        <div class="check-tit-cont">
            <h1>CHECKOUT</h1>
        </div>
        <div class="cont-billingAddress">
            <h1 class="billingAddress">BILLING ADDRESS</h1>
            <div class="name-form">
                <div class="firsName">
                    <h3 class="firstNameTitle">
                        First Name
                    </h3>
                    <input type="text" name="first-name" id="">
                </div>
                <div class="lastName">
                    <h3 class="lastNameTitle">
                        Last Name
                    </h3>
                    <input type="text" name="last-name" id="">
                </div>
            </div>
            <div class="email-number-form">
                <div class="email">
                    <h3 class="emailAddressTitle">
                        E-mail Address
                    </h3>
                    <input type="text" name="email-address" id="">
                </div>
                <div class="phoneNumber">
                    <h3 class="phoneNumberTitle">
                        Phone Number
                    </h3>
                    <input type="text" name="phone-number" id="">
                </div>
            </div>
            <div class="country-cont">
                <h3 class="countryTitle">
                    Country
                </h3>
                <input type="text" name="country" id="">
            </div>
            <div class="address-cont">
                <h3 class="addressTitle">
                    Address
                </h3>
                <input type="text" name="address" id="">
            </div>
            <div class="location-form">
                <div class="state-city">
                    <h3 class="state-cityTitle">
                        State/City, Town
                    </h3>
                    <input type="text" name="state/city-town" id="">
                </div>
                <div class="postCode">
                    <h3 class="postCodeTitle">
                        Post Code/ZIP
                    </h3>
                    <input type="text" name="last-name" id="">
                </div>
            </div>
            <div class="orderNote-cont">
                <h3 class="orderNoteTitle">
                    Order Note
                </h3>
                <form>
                    <textarea placeholder="Note about your order, e.g. Special notes delivery"></textarea>
                </form>
            </div>
        </div>
        <div class="cont-count">
            <div class="login">
                <h1 class="loginTitle">LOGIN</h1>
                <h2 class="registered">ALREADY REGISTERED?</h2>
                <h3 class="log">Please log in below:</h3>

                <div class="emailAddress">
                    <h4 class="emailaddTitle">
                        <span>*</span> Email Address</h4>
                    <input type="text" name="youremail" id="">
                </div>
                <div class="password">
                    <h4 class="passwordTitle">
                        <span>*</span> Password</h4>
                    <input type="text" name="youremail" id="">
                </div>
                <div class="login-cont">
                    <h4 class="required">
                        <span>*</span> Required Fields</h4>
                    <button class="loginbut">LOGIN</button>
                </div>
            </div>
            <div class="divide"></div>
            <div class="order">
                <h1 class="orderTitle">YOUR ORDER CHECK</h1>
                <h2 class="productsSubtitle">Products</h2>
                <div class="prodOrder">
                    <img src="" alt="">
                    <div class="infoProductOrder-Cont">
                        <img class="imgProduct-order" src="img/lista/ROG-strix-GTX1060-6gb.png" alt="">
                        <div class="infoProductOrder">
                        <h2 class="titleProductOrder">Name Product in Order</h2>
                        <h3 class="priceProductOrder">$ 999.999</h3>
                        </div>
                    </div>
                </div>
               
            </div>
            <div class="divide"></div>
            <div class="total">
                <div class="subtotal-cont">
                <h2 class="subtotal">SUBTOTAL</h2>
                <h3 class="subtotalPrice">$ 1.999.998.00</h3>
                </div>
                <div class="shipping-cont">
                <h2 class="shipping">SHIPPING</h2>
                <h3 class="shippingPrice">$ 00.00</h3>
                </div>
                <div class="order-total-cont">
                <h2 class="order-total">ORDER TOTAL</h2>
                <h3 class="order-totalPrice">$ 2.000.118.00</h3>
                </div>
                <div class="pay-cont">
                <button class="pay">PAY NOW</button>
                </div>
            </div>
        </div>
    </section>
    <script src="js/jquery-3.3.1.min.js"></script>
    <script src="js/headroom.js"></script>
    <script src="js/index.js"></script>
</body>

</html>