<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>PRODUCTS</title>
    <link rel="stylesheet" href="css/style.css">
</head>

<body>
    <header id="header">
        <nav class="menu">
            <div class="logo">
                <img src="src/rog-strix.png" alt="ROG Strix">
                <a href="#" class="btn-menu" id="btn-menu">
                    <i class="icono fa fa-bars" aria-hidden="true">
                    </i>
                </a>
            </div>

            <div class="enlaces" id="enlaces">
                <a class="products" href="#">Products</a>
                <a class="ROG" href="#">ROG</a>
                <a class="Service" href="#">Service</a>
            </div>
            <div class="cont-nonav" id="cont-nonav">
                <div class="nonav">
                    <div class="buscador">
                        <input type="text" class="search" name="search" id="" placeholder="Search...">
                        <a class="recuadro-lupa" href="#">
                            <img class="icon-lupa" src="src/lupa.png" alt="">
                        </a>

                    </div>
                    <a class="tienda" href="#">
                        <img src="src/shopping-card.png" alt="" class="shopping-card">
                    </a>
                </div>
            </div>
        </nav>
    </header>
    <section class="route">

    </section>
    <section class="productos">
        <div class="filter">
            <h2 class="filterBy">FILTER BY</h2>
            <div class="pricerange-cont">
                <h3 class="price">Price</h3>
                <input type="range" name="" id="range" min="0" max="10000000">
                <div class="input-ranges-cont">
                    <input type="text" class="rangeMin" name="rango minimo" id="" placeholder="$ Min">
                    <span>to</span>
                    <input type="text" class="rangeMax" name="rango maximo" id="" placeholder="$ Max">
                </div>
            </div>
            <div class="category-cont">
                <h3 class="category">Category</h3>

                <label class="container">AMD Series
                    <input type="checkbox" checked="checked">
                    <span class="checkmark"></span>
                </label>
                <label class="container">NVIDIA Series
                    <input type="checkbox">
                    <span class="checkmark"></span>
                </label>
                <label class="container">ROG - Republic Of Gamers
                    <input type="checkbox">
                    <span class="checkmark"></span>
                </label>
                <label class="container">Turbo Series
                    <input type="checkbox">
                    <span class="checkmark"></span>
                </label>
                <label class="container">Dual Series
                    <input type="checkbox">
                    <span class="checkmark"></span>
                </label>
                <label class="container">Expedition Series
                    <input type="checkbox">
                    <span class="checkmark"></span>
                </label>

            </div>
            <div class="gpu-cont">
                <h3 class="gpu">GPU</h3>
                <label class="container">Radeon™ RX VEGA Series
                    <input type="checkbox" checked="checked">
                    <span class="checkmark"></span>
                </label>
                <label class="container">Radeon™ RX 500 Series
                    <input type="checkbox">
                    <span class="checkmark"></span>
                </label>
                <label class="container">Radeon™ RX 400 Series
                    <input type="checkbox">
                    <span class="checkmark"></span>
                </label>
                <label class="container">Radeon™ R9 FURY Series
                    <input type="checkbox">
                    <span class="checkmark"></span>
                </label>
                <label class="container">GeForce® 1000 Series
                    <input type="checkbox">
                    <span class="checkmark"></span>
                </label>
                <label class="container">GeForce® 900 Series
                    <input type="checkbox">
                    <span class="checkmark"></span>
                </label>
                <label class="container">GeForce® 700 Series
                    <input type="checkbox">
                    <span class="checkmark"></span>
                </label>
            </div>
            <div class="memory-cont">
                <h3 class="memory">Video Memory</h3>

                <label class="container">Above 8 Gb
                    <input type="checkbox" checked="checked">
                    <span class="checkmark"></span>
                </label>
                <label class="container">8 Gb
                    <input type="checkbox">
                    <span class="checkmark"></span>
                </label>
                <label class="container">6 Gb
                    <input type="checkbox">
                    <span class="checkmark"></span>
                </label>
                <label class="container">4 Gb
                    <input type="checkbox">
                    <span class="checkmark"></span>
                </label>
                <label class="container">3 Gb
                    <input type="checkbox">
                    <span class="checkmark"></span>
                </label>
                <label class="container">2 Gb
                    <input type="checkbox">
                    <span class="checkmark"></span>
                </label>
                <label class="container">1 Gb
                    <input type="checkbox">
                    <span class="checkmark"></span>
                </label>
                <label class="container">Below 1 Gb
                    <input type="checkbox">
                    <span class="checkmark"></span>
                </label>
            </div>
        </div>
        <div class="content-products">
            <div class="sortby">
                <div class="tit-sortby">

                </div>
                <div class="sort-select">

                </div>
            </div>
            <div class="list-products">
                <div class="product">

                </div>
            </div>
            <div class="page-product">

            </div>
        </div>
    </section>
</body>
<script src="js/jquery-3.3.1.min.js"></script>
<script src="js/headroom.js"></script>
<script src="js/index.js"></script>

</html>