@import url("https://fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

header {
  position: fixed;
  top: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-content: stretch;
  align-items: center;
  background: #141414;
  width: 100%;
  text-align: center;
  z-index: 99;
}

header .menu {
  width: 100%;
  max-width: 1000px;
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 2em;
}

header .menu .logo {
  display: inline-block;
}

header .menu .logo img {
  vertical-align: top;
  height: 35px;
}

.btn-menu {
  display: none;
  color: white;
  font-size: 1.5em;
  text-decoration: none;
}

.enlaces {
  display: inline-block;
  text-align: right;
}

.enlaces a {
  color: #ffffff;
  display: inline-block;
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
  font-size: 1em;
  font-weight: 500;
  padding: 1.1em 2em;
  text-align: center;
}

.enlaces a:hover {
  background: #000000;
  color: #CC0000;
}

.cont-nonav {
  padding: 0 2%;
}

.cont-nonav .nonav {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-content: center;
  align-items: center;
  width: 100%;
}

.cont-nonav .nonav .buscador {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: left;
  align-content: center;
  align-items: center;
  order: 0;
  flex: 0 1 auto;
  align-self: auto;
  background: #000000;
  width: 90%;
  height: 35px;
  margin: 10px 0;
}

.cont-nonav .nonav .buscador input[type=text],
.cont-nonav .nonav .buscador select {
  background: rgba(0, 0, 0, 0.1);
  display: inline-block;
  color: #ffffff;
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  padding: 0 15px;
  width: 100%;
  height: 100%;
  border: 0;
  box-sizing: border-box;
  padding: 1em 1em;
  border-style: none;
  font-size: inherit;
  position: relative;
  vertical-align: middle;
}

.cont-nonav .nonav .buscador a {
  user-select: none;
  height: 100%;
  border: 0;
  box-sizing: border-box;
  border-style: none;
  box-shadow: inset 0 0 0 2px #000000;
  position: relative;
  vertical-align: middle;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-content: stretch;
  align-items: center;
}

.cont-nonav .nonav .buscador a::before, .cont-nonav .nonav .buscador a::after {
  box-sizing: inherit;
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
}

.cont-nonav .nonav .buscador a .icon-lupa {
  display: inline-block;
  padding: 0 10px;
  order: 0;
  flex: 0 1 auto;
  align-self: auto;
}

.cont-nonav .nonav .buscador .recuadro-lupa {
  background: black;
  border: 0;
  box-sizing: border-box;
  transition: color 0.25s;
  padding-right: 2%;
}

.cont-nonav .nonav .buscador .recuadro-lupa::before, .cont-nonav .nonav .buscador .recuadro-lupa::after {
  border: 1px solid transparent;
  width: 0;
  height: 0;
}

.cont-nonav .nonav .buscador .recuadro-lupa::before {
  top: 0;
  left: 0;
}

.cont-nonav .nonav .buscador .recuadro-lupa::after {
  bottom: 0;
  right: 0;
}

.cont-nonav .nonav .buscador .recuadro-lupa:hover {
  color: #ffffff;
  box-shadow: inset 0 0 0 2px transparent;
  transition: 2.5s;
}

.cont-nonav .nonav .buscador .recuadro-lupa:hover::before, .cont-nonav .nonav .buscador .recuadro-lupa:hover::after {
  width: 100%;
  height: 100%;
}

.cont-nonav .nonav .buscador .recuadro-lupa:hover::before {
  border-image: linear-gradient(to Right, #FF0000, #FFFF00, #00FF00) 10 10 0 0;
  transition: width 0.15s ease-out, height 0.15s ease-out 0.15s;
}

.cont-nonav .nonav .buscador .recuadro-lupa:hover::after {
  border-image: linear-gradient(to Left, #00FFDE, #FF00FF, #FF0000) 0 0 10 10;
  transition: border-color 0s ease-out 0.3s, width 0.15s ease-out 0.3s, height 0.15s ease-out 0.6s;
}

.cont-nonav .nonav .tienda {
  order: 0;
  flex: 0 1 auto;
  align-self: auto;
  display: inline-block;
  width: 95px;
  margin: 0 10px;
}

#carri {
  color: white;
  background: #CC0000;
  border-radius: 0.8em;
  -moz-border-radius: 0.8em;
  -webkit-border-radius: 0.8em;
  color: #ffffff;
  display: inline-block;
  font-weight: 600;
  font-size: 0.9em;
  line-height: 1.3em;
  margin-right: 15px;
  text-align: center;
  width: 1.3em;
  position: relative;
  top: -18px;
  left: -10px;
}

#carriuno {
  color: white;
  background: #CC0000;
  border-radius: 0.8em;
  -moz-border-radius: 0.8em;
  -webkit-border-radius: 0.8em;
  color: #ffffff;
  display: inline-block;
  font-weight: 600;
  font-size: 0.9em;
  line-height: 1.3em;
  margin-right: 15px;
  text-align: center;
  width: 1.3em;
  position: relative;
  top: -14px;
  left: -40px;
}

/* Efectos del MENU */
.headroom {
  transition: transform .3s ease;
}

.headroom--pinned {
  transform: translateY(0%);
}

.headroom--unpinned {
  transform: translateY(-100%);
}

.route {
  width: 100%;
  margin-top: 55px;
  height: 2.2vw;
  border-bottom: 2px solid #960000;
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-content: stretch;
  align-items: center;
}

.route p {
  font-family: "Montserrat", sans-serif;
  font-size: 10px;
  padding-left: 10%;
  font-weight: 400;
  color: #4f4f4f;
}

.route p a {
  text-decoration: none;
}

.productos {
  width: 100%;
  position: relative;
  font-family: "Montserrat", sans-serif;
}

.filter {
  width: 30%;
  position: fixed;
  top: 7%;
  padding: 3% 0 0 4.5%;
  float: left;
}

.filter .filterBy {
  font-size: 20px;
  font-weight: 600;
}

.filter .pricerange-cont {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  align-items: center;
}

.filter .pricerange-cont .price {
  margin: 8% 0 5% 0;
  width: 100%;
  font-size: 15px;
  font-weight: 600;
}

.filter .pricerange-cont .cont-slider-apply {
  display: flex;
  align-items: center;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  text-align: center;
}

.filter .pricerange-cont .cont-slider-apply .cont-slider {
  display: flex;
  align-items: center;
  align-items: center;
  justify-content: center;
  padding-top: 5%;
  flex-wrap: wrap;
  width: 100%;
  text-align: center;
}

.filter .pricerange-cont .cont-slider-apply .cont-slider #range {
  width: 38%;
}

.filter .pricerange-cont .cont-slider-apply .cont-slider .input[type=range] {
  -webkit-appearance: none;
}

.filter .pricerange-cont .cont-slider-apply .cont-slider .input[type=range]::-webkit-slider-runnable-track {
  width: 300px;
  height: 5px;
  background: #C9C9C9;
  border: none;
  border-radius: 6px;
}

.filter .pricerange-cont .cont-slider-apply .cont-slider .input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 16px;
  width: 16px;
  border-radius: 60%;
  background: #CC0000;
  margin-top: -4px;
}

.filter .pricerange-cont .cont-slider-apply .cont-slider input[type=range]:focus {
  outline: none;
}

.filter .pricerange-cont .cont-slider-apply .cont-slider input[type=range]:focus::-webkit-slider-runnable-track {
  background: #4f4f4f;
}

.filter .pricerange-cont .cont-slider-apply .cont-slider .input-ranges-cont {
  padding-top: 3%;
}

.filter .pricerange-cont .cont-slider-apply .cont-slider .input-ranges-cont input {
  width: 100px;
  height: 25px;
  padding: 0 1.5% 0 1.5%;
  border: 1px solid #CC0000;
}

.filter .pricerange-cont .cont-slider-apply .cont-slider .input-ranges-cont ::placeholder {
  font-size: 13px;
  color: #4f4f4f;
}

.filter .pricerange-cont .cont-slider-apply .cont-slider .input-ranges-cont span {
  margin: 0 4% 0 4%;
  font-size: 14px;
  font-weight: 500;
}

.filter .pricerange-cont .cont-slider-apply .cont-apply {
  display: flex;
  align-items: center;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  text-align: center;
}

.filter .pricerange-cont .cont-slider-apply .cont-apply button {
  border: 0;
  box-sizing: border-box;
  margin: 1.6em 0 0.6em 0;
  padding: 1em 2em;
  border-style: none;
  box-shadow: inset 0 0 0 2px #ffffff;
  color: #ffffff;
  font-size: inherit;
  font-weight: 700;
  position: relative;
  vertical-align: middle;
}

.filter .pricerange-cont .cont-slider-apply .cont-apply button::before, .filter .pricerange-cont .cont-slider-apply .cont-apply button::after {
  box-sizing: inherit;
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
}

.filter .pricerange-cont .cont-slider-apply .cont-apply .minMax {
  background: #cc0000;
  border: 0;
  box-sizing: border-box;
  transition: color 0.25s;
}

.filter .pricerange-cont .cont-slider-apply .cont-apply .minMax::before, .filter .pricerange-cont .cont-slider-apply .cont-apply .minMax::after {
  border: 2px solid transparent;
  width: 0;
  height: 0;
}

.filter .pricerange-cont .cont-slider-apply .cont-apply .minMax::before {
  top: 0;
  left: 0;
}

.filter .pricerange-cont .cont-slider-apply .cont-apply .minMax::after {
  bottom: 0;
  right: 0;
}

.filter .pricerange-cont .cont-slider-apply .cont-apply .minMax:hover {
  color: #CC0000;
  background: white;
  box-shadow: inset 0 0 0 2px transparent;
  transition: 1s;
}

.filter .pricerange-cont .cont-slider-apply .cont-apply .minMax:hover::before, .filter .pricerange-cont .cont-slider-apply .cont-apply .minMax:hover::after {
  width: 100%;
  height: 100%;
}

.filter .pricerange-cont .cont-slider-apply .cont-apply .minMax:hover::before {
  border-image: linear-gradient(to Right, #FF0000, #FFFF00, #00FF00) 10 10 0 0;
  transition: width 0.15s ease-out, height 0.15s ease-out 0.15s;
}

.filter .pricerange-cont .cont-slider-apply .cont-apply .minMax:hover::after {
  border-image: linear-gradient(to Left, #00FFDE, #FF00FF, #FF0000) 0 0 10 10;
  transition: border-color 0s ease-out 0.3s, width 0.15s ease-out 0.3s, height 0.15s ease-out 0.6s;
}

.filter .category-cont {
  /* The container */
  /* Hide the browser's default checkbox */
  /* Create a custom checkbox */
  /* On mouse-over, add a grey background color */
  /* When the checkbox is checked, add a blue background */
  /* Create the checkmark/indicator (hidden when not checked) */
  /* Show the checkmark when checked */
  /* Style the checkmark/indicator */
}

.filter .category-cont .category {
  font-weight: 600;
  font-size: 15px;
  padding: 8% 0 2% 0;
}

.filter .category-cont .container {
  display: block;
  position: relative;
  padding-left: 35px;
  color: #4f4f4f;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 12px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.filter .category-cont .container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.filter .category-cont .checkmark {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 3px;
  height: 15px;
  width: 15px;
  background-color: #eee;
}

.filter .category-cont .container:hover input ~ .checkmark {
  background-color: #ccc;
}

.filter .category-cont .container input:checked ~ .checkmark {
  background-color: #4f4f4f;
}

.filter .category-cont .checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.filter .category-cont .container input:checked ~ .checkmark:after {
  display: block;
}

.filter .category-cont .container .checkmark:after {
  left: 5px;
  top: 1px;
  width: 3px;
  height: 8px;
  border: solid white;
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.filter .gpu-cont {
  /* The container */
  /* Hide the browser's default checkbox */
  /* Create a custom checkbox */
  /* On mouse-over, add a grey background color */
  /* When the checkbox is checked, add a gray background */
  /* Create the checkmark/indicator (hidden when not checked) */
  /* Show the checkmark when checked */
  /* Style the checkmark/indicator */
}

.filter .gpu-cont .gpu {
  font-weight: 600;
  font-size: 15px;
  padding: 4% 0 2% 0;
}

.filter .gpu-cont .container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 12px;
  color: #4f4f4f;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.filter .gpu-cont .container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.filter .gpu-cont .checkmark {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 3px;
  height: 15px;
  width: 15px;
  background-color: #eee;
}

.filter .gpu-cont .container:hover input ~ .checkmark {
  background-color: #ccc;
}

.filter .gpu-cont .container input:checked ~ .checkmark {
  background-color: #4f4f4f;
}

.filter .gpu-cont .checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.filter .gpu-cont .container input:checked ~ .checkmark:after {
  display: block;
}

.filter .gpu-cont .container .checkmark:after {
  left: 5px;
  top: 1px;
  width: 3px;
  height: 8px;
  border: solid white;
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.filter .memory-cont {
  /* The container */
  /* Hide the browser's default checkbox */
  /* Create a custom checkbox */
  /* On mouse-over, add a grey background color */
  /* When the checkbox is checked, add a blue background */
  /* Create the checkmark/indicator (hidden when not checked) */
  /* Show the checkmark when checked */
  /* Style the checkmark/indicator */
}

.filter .memory-cont .memory {
  font-weight: 600;
  font-size: 15px;
  padding: 4% 0 2% 0;
}

.filter .memory-cont .container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 12px;
  color: #4f4f4f;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.filter .memory-cont .container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.filter .memory-cont .checkmark {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 3px;
  height: 15px;
  width: 15px;
  background-color: #eee;
}

.filter .memory-cont .container:hover input ~ .checkmark {
  background-color: #ccc;
}

.filter .memory-cont .container input:checked ~ .checkmark {
  background-color: #4f4f4f;
}

.filter .memory-cont .checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.filter .memory-cont .container input:checked ~ .checkmark:after {
  display: block;
}

.filter .memory-cont .container .checkmark:after {
  left: 5px;
  top: 1px;
  width: 3px;
  height: 8px;
  border: solid white;
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.content-products {
  width: 70%;
  right: 0;
  float: right;
}

.content-products .sortby {
  float: right;
  width: 30%;
  margin-right: 4%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-content: stretch;
  align-items: center;
  height: 15%;
}

.content-products .sortby .tit-sortby {
  font-size: 25px;
  font-weight: 200;
  padding: 10% 3% 0 3%;
}

.content-products .sortby .sort-select {
  padding: 10% 5% 0 5%;
  font-size: 25px;
  font-weight: 200;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-content: stretch;
  align-items: center;
}

.content-products .sortby .sort-select img {
  padding: 0 3% 1% 3%;
  width: 18px;
}

.content-products .sortby .sort-select .byprice {
  padding: 10%;
  width: 120%;
  background: #f2f2f2;
  color: #960000;
  font-size: 15px;
  font-weight: 600;
  border: 1px solid #960000;
}

.content-products .sortby .sort-select .byprice:hover {
  background-color: #C9C9C9;
}

.content-products .list-products {
  width: 100%;
  height: 100%;
  float: left;
}

.content-products .list-products .mostrar {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  padding: 20px;
  background: #ffffff;
}

.content-products .list-products .mostrar .tarjeta {
  width: 220px;
  height: 500px;
  background: #ffffff;
  position: relative;
  margin: 3%;
  transition: transform .2s;
  border-radius: 6px;
  box-shadow: 0px 0px 20px 0px rgba(20, 20, 20, 0.25);
}

.content-products .list-products .mostrar .tarjeta .imagen {
  width: 220px;
  height: 220px;
  background-size: contain;
  background-repeat: no-repeat;
  border-radius: 6px 6px 0 0;
}

.content-products .list-products .mostrar .tarjeta .descri {
  padding: 5%;
}

.content-products .list-products .mostrar .tarjeta .descri .nameDesc {
  text-align: center;
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 0.4em;
}

.content-products .list-products .mostrar .tarjeta .descri .vidMem {
  text-align: center;
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 0.4em;
}

.content-products .list-products .mostrar .tarjeta .descri .vidMem span {
  font-weight: 400;
  font-size: 16px;
}

.content-products .list-products .mostrar .tarjeta .descri .gpuDesc {
  text-align: center;
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 0.4em;
}

.content-products .list-products .mostrar .tarjeta .descri .gpuDesc span {
  font-weight: 400;
  font-size: 16px;
}

.content-products .list-products .mostrar .tarjeta .descri .priceDesc {
  text-align: center;
  font-size: 24px;
  font-weight: 600;
  color: #CC0000;
  margin-bottom: 0.4em;
}

.content-products .list-products .mostrar .tarjeta .boton {
  display: flex;
  position: absolute;
  bottom: 3%;
  align-items: center;
  align-items: center;
  justify-content: center;
  padding-top: 5%;
  flex-wrap: wrap;
  width: 100%;
  text-align: center;
}

.content-products .list-products .mostrar .tarjeta .boton button {
  border: 0;
  box-sizing: border-box;
  margin: 1.6em 0 0.6em 0;
  padding: 1em 2em;
  border-style: none;
  box-shadow: inset 0 0 0 2px #ffffff;
  color: #ffffff;
  font-size: inherit;
  font-weight: 700;
  position: relative;
  vertical-align: middle;
}

.content-products .list-products .mostrar .tarjeta .boton button::before, .content-products .list-products .mostrar .tarjeta .boton button::after {
  box-sizing: inherit;
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
}

.content-products .list-products .mostrar .tarjeta .boton .add {
  background: #cc0000;
  border: 0;
  box-sizing: border-box;
  transition: color 0.25s;
}

.content-products .list-products .mostrar .tarjeta .boton .add::before, .content-products .list-products .mostrar .tarjeta .boton .add::after {
  border: 2px solid transparent;
  width: 0;
  height: 0;
}

.content-products .list-products .mostrar .tarjeta .boton .add::before {
  top: 0;
  left: 0;
}

.content-products .list-products .mostrar .tarjeta .boton .add::after {
  bottom: 0;
  right: 0;
}

.content-products .list-products .mostrar .tarjeta .boton .add:hover {
  color: #CC0000;
  background: white;
  box-shadow: inset 0 0 0 2px transparent;
  transition: 1s;
}

.content-products .list-products .mostrar .tarjeta .boton .add:hover::before, .content-products .list-products .mostrar .tarjeta .boton .add:hover::after {
  width: 100%;
  height: 100%;
}

.content-products .list-products .mostrar .tarjeta .boton .add:hover::before {
  border-image: linear-gradient(to Right, #FF0000, #FFFF00, #00FF00) 10 10 0 0;
  transition: width 0.15s ease-out, height 0.15s ease-out 0.15s;
}

.content-products .list-products .mostrar .tarjeta .boton .add:hover::after {
  border-image: linear-gradient(to Left, #00FFDE, #FF00FF, #FF0000) 0 0 10 10;
  transition: border-color 0s ease-out 0.3s, width 0.15s ease-out 0.3s, height 0.15s ease-out 0.6s;
}

.content-products .list-products .tarjeta:Hover {
  transform: scale(1.1);
}

.container a {
  text-decoration: none;
}

.mostrar a {
  text-decoration: none;
  color: #141414;
}

ul,
ol {
  list-style: none;
}

.nav > li {
  float: left;
}

.nav li a {
  background-color: #960000;
  color: #fff;
  text-decoration: none;
  padding: 10px 12px;
  display: block;
}

.nav li a:hover {
  background-color: #434343;
}

.nav li ul {
  display: none;
  position: absolute;
  min-width: 140px;
}

.nav li:hover > ul {
  display: block;
}

.nav li ul li {
  position: relative;
}

.nav li ul li ul {
  right: -140px;
  top: 0px;
}

.sortbytit {
  background: rgba(0, 0, 0, 0.5);
  border: 0;
  box-sizing: border-box;
  transition: color 0.25s;
  padding-right: 1% 5%;
}

.sortbytit::before, .sortbytit::after {
  border: 2px solid transparent;
  width: 0;
  height: 0;
}

.sortbytit::before {
  top: 0;
  left: 0;
}

.sortbytit::after {
  bottom: 0;
  right: 0;
}

.sortbytit:hover {
  color: #ffffff;
  box-shadow: inset 0 0 0 2px transparent;
  transition: 2.5s;
}

.sortbytit:hover::before, .sortbytit:hover::after {
  width: 100%;
  height: 100%;
}

.sortbytit:hover::before {
  border-image: linear-gradient(to Right, #FF0000, #FFFF00, #00FF00) 10 10 0 0;
  transition: width 0.15s ease-out, height 0.15s ease-out 0.15s;
}

.sortbytit:hover::after {
  border-image: linear-gradient(to Left, #00FFDE, #FF00FF, #FF0000) 0 0 10 10;
  transition: border-color 0s ease-out 0.3s, width 0.15s ease-out 0.3s, height 0.15s ease-out 0.6s;
}

.form {
  font-family: "Montserrat", sans-serif;
  width: 100%;
}

.form .check-tit-cont {
  background: #CC0000;
  width: 100%;
  height: 100px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-content: stretch;
  align-items: center;
}

.form .check-tit-cont h1 {
  font-family: "Montserrat", sans-serif;
  font-size: 2em;
  font-weight: 600;
  color: #ffffff;
}

.form .cont-billingAddress {
  width: 50%;
  display: flex;
  padding: 4% 5% 0 10%;
  flex-wrap: wrap;
  position: fixed;
  float: left;
}

.form .cont-billingAddress .billingAddress {
  width: 100%;
  color: #CC0000;
  font-size: 18px;
  font-weight: 600;
  padding: 0 0 8% 0;
}

.form .cont-billingAddress .name-form {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  float: left;
  justify-content: space-between;
  align-content: stretch;
  align-items: center;
}

.form .cont-billingAddress .name-form h3 {
  font-size: 0.8em;
  font-weight: 500;
  padding: 5% 0 3% 0;
  color: #4f4f4f;
}

.form .cont-billingAddress .name-form input {
  height: 30px;
  width: 215px;
  background: #e7e7e7;
  border: 1px solid #dbdbdb;
  border-radius: 3px;
  padding-left: 5%;
}

.form .cont-billingAddress .email-number-form {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  float: left;
  justify-content: space-between;
  align-content: stretch;
  align-items: center;
}

.form .cont-billingAddress .email-number-form h3 {
  font-size: 0.8em;
  font-weight: 500;
  padding: 5% 0 3% 0;
  color: #4f4f4f;
}

.form .cont-billingAddress .email-number-form input {
  height: 30px;
  width: 215px;
  background: #e7e7e7;
  border: 1px solid #dbdbdb;
  border-radius: 3px;
  padding-left: 5%;
}

.form .cont-billingAddress .country-cont {
  width: 100%;
}

.form .cont-billingAddress .country-cont h3 {
  font-size: 0.8em;
  font-weight: 500;
  padding: 3% 0 2% 0;
  color: #4f4f4f;
}

.form .cont-billingAddress .country-cont input {
  height: 30px;
  width: 100%;
  background: #e7e7e7;
  border: 1px solid #dbdbdb;
  border-radius: 3px;
  padding-left: 5%;
}

.form .cont-billingAddress .address-cont {
  width: 100%;
}

.form .cont-billingAddress .address-cont h3 {
  font-size: 0.8em;
  font-weight: 500;
  padding: 3% 0 2% 0;
  color: #4f4f4f;
}

.form .cont-billingAddress .address-cont input {
  height: 30px;
  width: 100%;
  background: #e7e7e7;
  border: 1px solid #dbdbdb;
  border-radius: 3px;
  padding-left: 5%;
}

.form .cont-billingAddress .location-form {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  float: left;
  justify-content: space-between;
  align-content: stretch;
  align-items: center;
}

.form .cont-billingAddress .location-form h3 {
  font-size: 0.8em;
  font-weight: 500;
  padding: 5% 0 3% 0;
  color: #4f4f4f;
}

.form .cont-billingAddress .location-form input {
  height: 30px;
  width: 215px;
  background: #e7e7e7;
  border: 1px solid #dbdbdb;
  border-radius: 3px;
  padding-left: 5%;
}

.form .cont-billingAddress .orderNote-cont {
  width: 100%;
}

.form .cont-billingAddress .orderNote-cont h3 {
  font-size: 0.8em;
  font-weight: 500;
  padding: 3% 0 2% 0;
  color: #4f4f4f;
}

.form .cont-billingAddress .orderNote-cont textarea {
  width: 100%;
  background: #e7e7e7;
  border: 1px solid #dbdbdb;
  border-radius: 3px;
  padding-left: 5%;
  width: 100%;
  height: 150px;
  padding: 12px 20px;
  box-sizing: border-box;
  resize: none;
  color: #4f4f4f;
}

.form .cont-count {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  float: left;
  padding: 5% 10% 0 50%;
}

.form .cont-count .login {
  width: 100%;
}

.form .cont-count .login .loginTitle {
  width: 100%;
  color: #CC0000;
  font-size: 18px;
  font-weight: 600;
  padding: 0 0 5% 0;
}

.form .cont-count .login .registered {
  font-size: 0.8em;
  font-weight: 600;
  color: #4f4f4f;
}

.form .cont-count .login .log {
  font-size: 0.8em;
  font-weight: 600;
  color: #4f4f4f;
}

.form .cont-count .login .emailAddress {
  width: 50%;
  display: flex;
  padding: 2% 0 0 0;
  flex-wrap: wrap;
  float: left;
}

.form .cont-count .login .emailAddress h4 {
  font-size: 0.8em;
  font-weight: 500;
  padding: 3% 0 3% 0;
  color: #4f4f4f;
}

.form .cont-count .login .emailAddress h4 span {
  color: #CC0000;
  font-weight: 700;
}

.form .cont-count .login .emailAddress input {
  height: 25px;
  width: 220px;
  background: #e7e7e7;
  border: 1px solid #dbdbdb;
  border-radius: 3px;
}

.form .cont-count .login .password {
  width: 50%;
  display: flex;
  padding: 2% 0 0 0;
  flex-wrap: wrap;
  float: left;
}

.form .cont-count .login .password h4 {
  font-size: 0.8em;
  font-weight: 500;
  padding: 3% 0 3% 0;
  color: #4f4f4f;
}

.form .cont-count .login .password h4 span {
  color: #CC0000;
  font-weight: 700;
}

.form .cont-count .login .password input {
  height: 25px;
  width: 220px;
  background: #e7e7e7;
  border: 1px solid #dbdbdb;
  border-radius: 3px;
}

.form .cont-count .login .login-cont {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  float: left;
  justify-content: space-between;
  align-content: stretch;
  align-items: center;
}

.form .cont-count .login .login-cont h4 {
  font-size: 0.7em;
  font-weight: 500;
  padding: 2% 0 3% 0;
  color: #CC0000;
}

.form .cont-count .login .login-cont h4 span {
  color: #CC0000;
  font-weight: 700;
}

.form .cont-count .login .login-cont .loginbut {
  border: none;
  background: #960000;
  color: #f2f2f2;
  font-size: 14px;
  position: relative;
  box-sizing: border-box;
  transition: all 500ms ease;
  padding: 0.5em 2.5em;
  margin: 3% 7% 0 0;
  overflow: hidden;
}

.form .cont-count .order {
  width: 100%;
}

.form .cont-count .order .orderTitle {
  width: 100%;
  text-align: center;
  color: #CC0000;
  font-size: 18px;
  font-weight: 600;
  padding: 1% 0;
}

.form .cont-count .order .productsSubtitle {
  font-size: 1em;
  font-weight: 600;
  padding: 4% 0 0 0;
  color: #000000;
}

.form .cont-count .order .prodOrder .lista .tarjeta-check {
  width: 100%;
}

.form .cont-count .order .prodOrder .lista .tarjeta-check .cont-tarjeta-check {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-content: stretch;
  align-items: center;
}

.form .cont-count .order .prodOrder .lista .tarjeta-check .cont-tarjeta-check .img-tarjeta-check {
  width: 20%;
}

.form .cont-count .order .prodOrder .lista .tarjeta-check .cont-tarjeta-check .img-tarjeta-check img {
  width: 100%;
}

.form .cont-count .order .prodOrder .lista .tarjeta-check .cont-tarjeta-check .continfo {
  width: 60%;
  padding: 1em;
}

.form .cont-count .order .prodOrder .lista .tarjeta-check .cont-tarjeta-check .continfo .name-check {
  width: 140%;
  font-size: 1.2em;
  font-weight: 500;
  padding-bottom: 0.3em;
}

.form .cont-count .order .prodOrder .lista .tarjeta-check .cont-tarjeta-check .continfo .price-check {
  color: #CC0000;
  font-weight: 600;
}

.form .cont-count .order .prodOrder .lista .infoProductOrder-Cont {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  float: left;
  justify-content: left;
  align-content: stretch;
  align-items: center;
}

.form .cont-count .order .prodOrder .lista .infoProductOrder-Cont .imgProduct-order {
  width: 100px;
  height: 100px;
}

.form .cont-count .order .prodOrder .lista .infoProductOrder-Cont .infoProductOrder {
  padding-left: 5%;
  width: 400px;
}

.form .cont-count .order .prodOrder .lista .infoProductOrder-Cont .infoProductOrder .titleProductOrder {
  font-size: 1em;
  font-weight: 600;
  padding: 3% 0 1% 0;
  color: #000000;
}

.form .cont-count .order .prodOrder .lista .infoProductOrder-Cont .infoProductOrder .priceProductOrder {
  font-size: 1em;
  font-weight: 700;
  padding: 1% 0 2% 0;
  color: #CC0000;
}

.form .cont-count .total {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  float: left;
  justify-content: space-between;
  align-content: stretch;
  align-items: center;
}

.form .cont-count .total .subtotal-cont {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  float: left;
  justify-content: space-between;
  align-content: stretch;
  align-items: center;
  padding: 0 0 3% 0;
}

.form .cont-count .total .subtotal-cont .subtotal {
  font-size: 1em;
  font-weight: 500;
  color: #000000;
  width: 50%;
}

.form .cont-count .total .subtotal-cont .subtotalPrice {
  font-size: 1em;
  font-weight: 600;
  color: #000000;
  width: 50%;
  text-align: end;
}

.form .cont-count .total .shipping-cont {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  float: left;
  justify-content: space-between;
  align-content: stretch;
  align-items: center;
  padding: 0 0 3% 0;
}

.form .cont-count .total .shipping-cont .shipping {
  font-size: 1em;
  font-weight: 500;
  color: #000000;
  width: 50%;
}

.form .cont-count .total .shipping-cont .shippingPrice {
  font-size: 1em;
  font-weight: 600;
  color: #000000;
  width: 50%;
  text-align: end;
}

.form .cont-count .total .order-total-cont {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  float: left;
  justify-content: space-between;
  align-content: stretch;
  align-items: center;
  padding: 0 0 3% 0;
}

.form .cont-count .total .order-total-cont .order-total {
  font-size: 1em;
  font-weight: 500;
  color: #000000;
  width: 50%;
}

.form .cont-count .total .order-total-cont .order-totalPrice {
  font-size: 1em;
  font-weight: 600;
  color: #000000;
  width: 50%;
  text-align: end;
}

.form .cont-count .total .pay-cont {
  display: flex;
  align-items: center;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  text-align: center;
  padding-bottom: 8%;
}

.form .cont-count .total .pay-cont button {
  border: 0;
  box-sizing: border-box;
  margin: 1.6em 0 0.6em 0;
  padding: 1em 2em;
  border-style: none;
  box-shadow: inset 0 0 0 2px #ffffff;
  color: #ffffff;
  font-size: inherit;
  font-weight: 700;
  position: relative;
  vertical-align: middle;
}

.form .cont-count .total .pay-cont button::before, .form .cont-count .total .pay-cont button::after {
  box-sizing: inherit;
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
}

.form .cont-count .total .pay-cont .pay {
  background: #cc0000;
  border: 0;
  box-sizing: border-box;
  transition: color 0.25s;
}

.form .cont-count .total .pay-cont .pay::before, .form .cont-count .total .pay-cont .pay::after {
  border: 2px solid transparent;
  width: 0;
  height: 0;
}

.form .cont-count .total .pay-cont .pay::before {
  top: 0;
  left: 0;
}

.form .cont-count .total .pay-cont .pay::after {
  bottom: 0;
  right: 0;
}

.form .cont-count .total .pay-cont .pay:hover {
  color: #CC0000;
  background: white;
  box-shadow: inset 0 0 0 2px transparent;
  transition: 1s;
}

.form .cont-count .total .pay-cont .pay:hover::before, .form .cont-count .total .pay-cont .pay:hover::after {
  width: 100%;
  height: 100%;
}

.form .cont-count .total .pay-cont .pay:hover::before {
  border-image: linear-gradient(to Right, #FF0000, #FFFF00, #00FF00) 10 10 0 0;
  transition: width 0.15s ease-out, height 0.15s ease-out 0.15s;
}

.form .cont-count .total .pay-cont .pay:hover::after {
  border-image: linear-gradient(to Left, #00FFDE, #FF00FF, #FF0000) 0 0 10 10;
  transition: border-color 0s ease-out 0.3s, width 0.15s ease-out 0.3s, height 0.15s ease-out 0.6s;
}

.divide {
  width: 100%;
  height: 1px;
  margin: 5% 0;
  background: linear-gradient(to right, #FF0000, #FFFF00, #00FF00, #00FFDE, #FF00FF);
}

.divide-prod-check {
  width: 100%;
  height: 1px;
  margin: 2% 0;
  background: linear-gradient(to right, #FF0000, #FFFF00, #00FF00, #00FFDE, #FF00FF);
}

input[type=text],
textarea {
  -webkit-transition: all 0.30s ease-in-out;
  -moz-transition: all 0.30s ease-in-out;
  -ms-transition: all 0.30s ease-in-out;
  -o-transition: all 0.30s ease-in-out;
  outline: none;
  padding: 3px 0px 3px 3px;
  margin: 5px 1px 3px 0px;
  border: 1px solid #DDDDDD;
}

input[type=text]:focus,
textarea:focus {
  box-shadow: 0 0 5px #CC0000;
  padding: 3px 0px 3px 3px;
  margin: 5px 1px 3px 0px;
  border: 1px solid #CC0000;
}

.product {
  font-family: "Montserrat", sans-serif;
  width: 100%;
  padding: 3% 0;
  /*
    .cont-specifications{
        .specificationsTitle{

        }

        .technicalDetails{

        }
        .table-specifications{

        }
    }
    */
}

.product .tarjeta-indiv {
  width: 100%;
  height: 30vh;
}

.product .tarjeta-indiv .cont-photo-product {
  width: 35%;
  padding-left: 10%;
  display: flex;
  flex-wrap: wrap;
  float: left;
  justify-content: flex-start;
  align-content: stretch;
  align-items: center;
}

.product .tarjeta-indiv .cont-photo-product .photo-product {
  width: 100%;
}

.product .tarjeta-indiv .description {
  width: 65%;
  display: flex;
  flex-wrap: wrap;
  float: left;
  padding: 0 10% 0 5%;
}

.product .tarjeta-indiv .description .name-product {
  width: 100%;
  font-size: 2.2em;
  font-weight: 600;
}

.product .tarjeta-indiv .description .ref-product {
  width: 100%;
  font-size: 1.2m;
  font-weight: 500;
}

.product .tarjeta-indiv .description .price-individual {
  width: 100%;
  font-size: 1.6em;
  font-weight: 600;
  color: #CC0000;
}

.product .tarjeta-indiv .description .description-resume {
  width: 100%;
  text-align: justify;
  color: #4f4f4f;
  padding: 5% 0 4% 0;
}

.product .tarjeta-indiv .description .addToCart {
  border: none;
  background: #960000;
  color: #f2f2f2;
  font-size: 14px;
  position: relative;
  box-sizing: border-box;
  transition: all 500ms ease;
  padding: 1em 2.5em;
  overflow: hidden;
}

.product .divide-warranty {
  width: 80%;
  height: 1px;
  margin: 10% 10% 2% 10%;
  background: linear-gradient(to right, #FF0000, #FFFF00, #00FF00, #00FFDE, #FF00FF);
}

.product .warranty {
  width: 100%;
  padding: 0 0 3% 0;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: center;
  align-items: flex-start;
  justify-content: center;
}

.product .warranty .warranty-support {
  width: 70%;
  padding: 3% 0 0 10%;
  color: #CC0000;
  font-size: 1.5em;
  font-weight: 600;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-content: stretch;
  align-items: center;
}

.product .warranty .warranty-description {
  width: 100%;
  padding: 3% 10%;
  color: #4f4f4f;
  text-align: justify;
  font-size: 1em;
  font-weight: 400;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-content: stretch;
  align-items: center;
}

.shopping-list {
  width: 100%;
  font-family: "Montserrat", sans-serif;
}

.shopping-list .shoppingCart-Title {
  font-family: "Montserrat", sans-serif;
  font-size: 2.2em;
  font-weight: 600;
  color: #000000;
  margin: 2% 0 2% 10%;
}

.shopping-list .resume-list-product {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-content: center;
  align-items: flex-start;
  width: 100%;
}

.shopping-list .resume-list-product .photo-product-list {
  width: 20%;
  margin: 0 5% 2% 10%;
  float: left;
  display: flex;
}

.shopping-list .resume-list-product .description-list {
  width: 80%;
  padding: 0 10% 0 2%;
}

.shopping-list .resume-list-product .description-list .name-product-list {
  width: 100%;
  font-size: 1.2em;
}

.shopping-list .resume-list-product .description-list .ref-product-list {
  width: 100%;
  font-size: 0.8em;
  padding: 0.5% 0;
}

.shopping-list .resume-list-product .description-list .price-individual-list {
  width: 100%;
  font-size: 1.2em;
  color: #CC0000;
  padding: 1.5% 0;
  font-weight: 600;
}

.shopping-list .resume-list-product .description-list .description-resume-list {
  width: 100%;
  text-align: justify;
  font-size: 1em;
  padding: 2% 0;
}

.shopping-list .divide-list {
  width: 80%;
  height: 1px;
  margin: 1% 10% 3% 10%;
  background: linear-gradient(to right, #FF0000, #FFFF00, #00FF00, #00FFDE, #FF00FF);
}

.cont-checkout-info {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-content: center;
  align-items: flex-start;
  padding: 5.5%;
  background: #CC0000;
}

.cont-checkout-info .subtotal-cont {
  font-family: "Montserrat", sans-serif;
  width: 50%;
  padding: 5%;
  background: rgba(255, 255, 255, 0.6);
}

.cont-checkout-info .subtotal-cont .info-check {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-content: center;
  align-items: center;
}

.cont-checkout-info .subtotal-cont .info-check .text-info-checkout {
  width: 70%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-content: center;
  align-items: center;
}

.cont-checkout-info .subtotal-cont .info-check .text-info-checkout h1 {
  width: 50%;
  color: #000000;
  font-size: 1.5em;
  font-weight: 500;
}

.cont-checkout-info .subtotal-cont .info-check .text-info-checkout h2 {
  width: 50%;
  color: #CC0000;
  text-align: end;
  font-size: 1.5em;
  font-weight: 600;
}

.cont-checkout-info .subtotal-cont .check-cont {
  display: flex;
  align-items: center;
  align-items: center;
  justify-content: center;
  padding-top: 5%;
  flex-wrap: wrap;
  width: 100%;
  text-align: center;
}

.cont-checkout-info .subtotal-cont .check-cont button {
  border: 0;
  box-sizing: border-box;
  margin: 1.6em 0 0.6em 0;
  padding: 1em 2em;
  border-style: none;
  box-shadow: inset 0 0 0 2px #ffffff;
  color: #CC0000;
  font-size: inherit;
  font-weight: 700;
  position: relative;
  vertical-align: middle;
}

.cont-checkout-info .subtotal-cont .check-cont button::before, .cont-checkout-info .subtotal-cont .check-cont button::after {
  box-sizing: inherit;
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
}

.cont-checkout-info .subtotal-cont .check-cont .bot-check {
  background: rgba(201, 201, 201, 0.5);
  border: 0;
  box-sizing: border-box;
  transition: color 0.25s;
}

.cont-checkout-info .subtotal-cont .check-cont .bot-check::before, .cont-checkout-info .subtotal-cont .check-cont .bot-check::after {
  border: 2px solid transparent;
  width: 0;
  height: 0;
}

.cont-checkout-info .subtotal-cont .check-cont .bot-check::before {
  top: 0;
  left: 0;
}

.cont-checkout-info .subtotal-cont .check-cont .bot-check::after {
  bottom: 0;
  right: 0;
}

.cont-checkout-info .subtotal-cont .check-cont .bot-check:hover {
  color: #4f4f4f;
  box-shadow: inset 0 0 0 2px transparent;
  transition: 2.5s;
}

.cont-checkout-info .subtotal-cont .check-cont .bot-check:hover::before, .cont-checkout-info .subtotal-cont .check-cont .bot-check:hover::after {
  width: 100%;
  height: 100%;
}

.cont-checkout-info .subtotal-cont .check-cont .bot-check:hover::before {
  border-image: linear-gradient(to Right, #FF0000, #FFFF00, #00FF00) 10 10 0 0;
  transition: width 0.15s ease-out, height 0.15s ease-out 0.15s;
}

.cont-checkout-info .subtotal-cont .check-cont .bot-check:hover::after {
  border-image: linear-gradient(to Left, #00FFDE, #FF00FF, #FF0000) 0 0 10 10;
  transition: border-color 0s ease-out 0.3s, width 0.15s ease-out 0.3s, height 0.15s ease-out 0.6s;
}
/*# sourceMappingURL=style.css.map */